@media print {
  .non-printable {
    display: none;
  }
}

.bookings table tr:not(:first-child) td.booking-info {
  border-top: 1px solid #cacaca20;
}

.card-actions {
  opacity: 0;
  transition: 250ms ease-in-out opacity;
  position: absolute;
  right: 10px;
  border-radius: 5px;
  max-width: 180px;
  top: 10px;
}

.card:hover .card-actions {
  background: #00000010;
  opacity: 1;
}

.sticky-dark-toggler {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: rgb(1, 68, 255);
  border-radius: 15px;
  padding: 2px;
  z-index: 999;
  color: white;
  box-sizing: border-box;
  text-align: center;
}

.print-button {
  position: fixed;
  top: 10px;
  right: 50px;
  width: 30px;
  height: 30px;
  background: rgb(1, 68, 255);
  border-radius: 15px;
  padding: 2px;
  z-index: 999;
  color: white;
  box-sizing: border-box;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.balance-column {
  width: 6px;
  padding-left: 2px;
  padding-right: 5px;
  margin: 0;
}

.bookings table tr {
  color: #aaaaaa;
}

.bookings div span {
  font-weight: 600;
  margin-bottom: 10px;
}

.accounts table tr:last-child,
.accounts table tr:first-child,
.balance table tr:last-child,
.balance table tr:first-child {
  border-top: 2px solid #cacaca;
}

table td.balance-line {
  border-right: 2px solid #cacaca;
}

table td {
  padding: 4px 9px;
}

.sum-underline {
  position: relative;
}

.sum-underline::after,
.sum-underline::before {
  content: " ";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  border-bottom: 1px solid #cacaca;
}

.sum-underline::after {
  bottom: 5px;
}

.sum-underline::before {
  bottom: 3px;
}

.bookings table {
  table-layout: fixed;
  margin-top: 10px;
}

.bookings table td:first-child,
.bookings table td:last-child {
  width: 100px;
}

.bookings table td:not(:first-child):not(:last-child) {
  width: 20px;
}
